# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.tmp/
.ipynb_checkpoints/
.pytest_cache/

# ML storage
StockPredictor.ML/storage/trainingsdaten/
StockPredictor.ML/storage/classical/
StockPredictor.ML/storage/benchmarks/
StockPredictor.ML/storage/experiments/
StockPredictor.ML/storage/thesis/
StockPredictor.ML/storage/dashboard/
StockPredictor.ML/storage/plots/
StockPredictor.ML/storage/yfinance-cache/

# .NET
.dotnet/
.nuget/
bin/
obj/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
